.bg-dark
{
    background-color:#0081FF !important;
    color: white !important;
}

a {
    color: white !important;
}
.navbar-center
{
  position: absolute;
    left: 50%;
    transform: translatex(-50%);
  font-size:2rem;
}


@media(max-width: 767px) and (min-width: 504px){
    .navbar-brand{
        max-width: calc(40% - 55px);
        max-height: calc(40% - 55px);
    }
}
@media(min-width: 360px) and (max-width:472px) {
    .navbar-brand{
        max-width: calc(40% - 55px);
        max-height: calc(40% - 55px);
    }
}

@media (max-width: 320px)   {
   .navbar-center {
        font-size: 1.5rem;
    }

    .navbar-brand {
        visibility: hidden;
    }
}
 