<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 container-nopadding">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 container-nopadding">
       <app-policy></app-policy>
    </div>
  </div>
</div> -->


<div class="container" *ngIf="isLoggedIn">
  <div class="row">
    <div class="container_header">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 container-nopadding">
        <app-home></app-home>
    </div>
  </div>
</div> 
<div class="spinner-border"></div>
<div class="container" *ngIf="!isLoggedIn">  
  <div class="row">
    <div class="col-md-12 container-nopadding">
        <h2>Login Failed...</h2>
    </div>
  </div>
</div> 