.coursel{
    width: 100%;
    background-color: #004167;
    border: 1px solid red;
    color: white;
    padding: 0 px; 
}
.modal-body{
    background-color: #004167;
    color: white;
}
.display-block-btn {
    display: inline-block;
    background-color: #009DDD; 
    padding-bottom:5px; 
    width: 100%;
}

.save-btn
{
    background-color: #FEA519;
    color: white;
    border-radius: 20px;
    width: 80%;
}
.sec-btn{
    background-color: white;
    color: #00ABD5;
    border-radius: 20px;
    width: 60%;
}
.prm-btn{
    background-color: #00ABD5;
    color: white;
    width: 80%;
    margin-bottom: 10px;
    text-align: left;
}
.next-btn{
    background-color: #757575;
    color: white;
    width: 60%;
    border-radius: 20px;
}
.prm-btn-sel{
    background-color: white;
    color: #00ABD5;
    width: 80%;
    margin-bottom: 10px;
    text-align: left;
}
.next-btn_enable{
    background-color: #FEA519;
    color: white;
    width: 60%;
    border-radius: 20px;
}
