<br>

  <ng-container *ngIf="step===1">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <label for="exampleInputEmail1">Policy Number</label>
          <input [(ngModel)]="policyNumber" type="text" class="form-control form-control-noradius" aria-describedby="emailHelp">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <b>or</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control form-control-noradius" id="firstname">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control form-control-noradius" id="lastname">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="lastname">DOB</label>
          <div class='input-group'>
            <input class="form-control form-control-noradius" placeholder="MM/DD/YYYY" name="dp" ngbDatepicker #d="ngbDatepicker">

            <div class="input-group-append">
              <button class='fas fa-calendar-alt' (click)="d.toggle()" type="button"></button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10  text-center">
        <button type="button"  [ngClass]="{'disable-class':policyNumber===''}"  (click)="next()" class="btn btn-block btn-primary btn-custom">Find My Policy</button>
      </div>
      <div class="col-1">
  
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="step===2">

    <div class="row">
      <div class="col-12">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="main-image" src="../../assets/auto.png">
            <div class="policy-select-text">
              <div>
                <span class="text-left-main">
                  <b>Policy Number</b>
                </span>
              </div>
              <div>
                0123 4567 8912 3456
              </div>
            </div>
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>

          <ul class="dropdown-menu">
            <li class="dropdown-header  dropdown-header-nopadding">Select the Damaged Vehicle</li>
            <li>
              <a href="#" title="Select this card">
                <img style="
                          width: 70px;
                          height: 70px;
                      " src="../../assets/car1.png">Honda City-2016</a>
            </li>
            <li>
              <a href="#" title="Select this card">
                <img style="
                            width: 70px;
                            height: 70px;
                        " src="../../assets/car1.png">Honda City-2016</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="main-image-second" src="../../assets/property.png">
            <div class="policy-select-text">
              <div>
                <span class="text-left-main">
                  <b>Policy Number</b>
                </span>
              </div>
              <div>
                0123 4567 8912 3456
              </div>
            </div>
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-header  dropdown-header-nopadding">Select the Damaged Vehicle</li>
            <li>
              <a href="#" title="Select this card">
                <img style="
                            width: 70px;
                            height: 70px;
                        " src="../../assets/car1.png">Honda City-2016</a>
            </li>
            <li>
              <a href="#" title="Select this card">
                <img style="
                              width: 70px;
                              height: 70px;
                          " src="../../assets/car1.png">Honda City-2016</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10  text-center">
        <button type="button"  [ngClass]="{'disable-class':policyNumber===''}"  (click)="next()" class="btn btn-block btn-primary btn-custom">Next</button>
      </div>
      <div class="col-1">
  
      </div>
    </div>


  </ng-container>

  <ng-container *ngIf="step===3">
    <span class="subtext-color">
      <b>what has happend</b>
    </span>

    <div class="row">
      <div class="col-12 col-md-4">

        <ul (click)="nextStep=false;"  class="list-happend step-tree">
          <li (click)="assit=true;" class="list-happend-li">
            <span>
              <img class="image-happend" [ngClass]="{'image-happend-select':assit}" src="../../assets/roadside-assistance-.png">
              <span class="car-styles">Need outside assistance</span>
            </span>
          </li>
          <li (click)="assit=false;windshield=true;" class="list-happend-li">
            <span>
              <img class="image-happend"  [ngClass]="{'image-happend-select':windshield}"  src="../../assets/Windshield-damage.png">
              <span class="car-styles">windshield damanage only</span>
            </span>
          </li>

          <li class="list-happend-li">
            <span>
              <img class="image-happend"  src="../../assets/FloodFireHail.png">
              <span class="car-styles">Flood/Fire/Hail</span>
            </span>
          </li>
          <li class="list-happend-li">
            <span>
            
              <img class="image-happend" src="../../assets/Something-fell-on-the-vehicle.png">
              <span class="car-styles">Something fell on the vehicle</span>
            </span>
          </li>
          <li class="list-happend-li">
            <span>
              
              <img class="image-happend" src="../../assets/Collision.png">
              <span class="car-styles">Collision with other vehicle</span>
            </span>
          </li>
          <li class="list-happend-li">
            <span>
                <img class="image-happend"  src="../../assets/something-else.png">
              <span class="car-styles">Something else</span>
            </span>
          </li>

        </ul>

      </div>
    </div>

    <br>
    <br>
   
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10  text-center">
        <button type="button"  [ngClass]="{'disable-class':nextStep}"  (click)="next()" class="btn btn-block btn-primary btn-custom">Next</button>
      </div>
      <div class="col-1">
  
      </div>
    </div>


  </ng-container>

  <ng-container *ngIf="step===4">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Is anybody injured?</label>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="injured">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="firstname">When?</label>
          <div class='input-group'>
            <input type="text" placeholder="00:00" class="form-control form-control-noradius" id="when">
            <div class="input-group-append">
              <button class='far fa-clock' type="button"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="lastname">DOB</label>
          <div class='input-group'>
            <input type="text" placeholder="MM/DD/YYYY" name="dp" ngbDatepicker #d="ngbDatepicker" class="form-control form-control-noradius"
              id="dob">
            <div class="input-group-append">
              <button class='fas fa-calendar-alt' (click)="d.toggle()" type="button"></button>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-11">
        <div class="form-group">
          <label for="firstname">Where?</label>

          <div class='input-group'>
            <input type="text" placeholder="Accident Location" class="form-control form-control-noradius" id="when">
            <div class="input-group-append">
              <button type="button">
                <i class="material-icons">location_on</i>
              </button>
            </div>

          </div>

        </div>
      </div>
      <div class="col-1">
        <i (click)="open(content)" class="material-icons icon-help">&#xe8fd;</i>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="firstname">Vehicle current location?</label>
          <br>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Home
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Accident Site
            </label>
          </div>
          <div class="form-check-inline disabled">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio" disabled>Garage
            </label>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="firstname">Description of incident</label>
          <textarea class="form-control" rows="3" id="comment"></textarea>
        </div>
      </div>
    </div>
    <span>Where can we contact you in case of further questions?</span>


    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="firstname">Phone Number</label>
          <input type="text" class="form-control form-control-noradius" id="when">

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="firstname">Email Id</label>
          <input type="text" class="form-control form-control-noradius" id="when">

        </div>
      </div>
    </div>

    <br>
    <br>
   
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10  text-center">
        <button type="button"   (click)="next()" class="btn btn-block btn-primary btn-custom">Next</button>
      </div>
      <div class="col-1">
  
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="step===5">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="row">
            <div class="col-8">
              <label for="exampleInputEmail1">Do you have 3rd party details to share?</label>

            </div>
            <div class="col-4">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="thirdparty">
                <span class="slider round"></span>
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="row">
            <div class="col-8">
              <label for="exampleInputEmail1">Images of 3rd party insurance card?</label>
            </div>
            <div class="col-4">
              <img class="main-image" (click)="open(contentupload)" [ngClass]="{'image-opacity':!thirdparty}" width="100%" src="../../assets/crop.png">
            </div>
          </div>

        </div>
      </div>
    </div>

    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>   <br>
    <br>
    <br>
   
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10  text-center">
        <button type="button"   (click)="next()" class="btn btn-block btn-primary btn-custom">Next</button>
      </div>
      <div class="col-1">
  
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="step===6">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="row">
              <div class="col-8">
                <label for="exampleInputEmail1">Do you file police report?</label>
  
              </div>
              <div class="col-4">
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="policyreport">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="row">
              <div class="col-8">
                <label for="exampleInputEmail1">Images of police report?</label>
              </div>
              <div class="col-4">
                <img class="main-image" (click)="open(contentpolice)" [ngClass]="{'image-opacity':!policyreport}" width="100%" src="../../assets/crop.png">
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <br>
      <p class="note" *ngIf="!policyreport">
        Note:Sharing of images of your car will help in reducing the claim settlement time
      </p>
  
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>   <br>
      <br>
      <br>
     
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10  text-center">
          <button type="button"   (click)="next()" class="btn btn-block btn-primary btn-custom">Next</button>
        </div>
        <div class="col-1">
    
        </div>
      </div>
  
    </ng-container>

    <ng-container *ngIf="step===7">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-8">
                  <label for="exampleInputEmail1">Do you have images of your car to share?</label>
    
                </div>
                <div class="col-4">
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]="policyreport">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
    
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-8">
                  <label for="exampleInputEmail1">Images of your car?</label>
                </div>
                <div class="col-4">
                  <img class="main-image" (click)="open(contentpolice)" [ngClass]="{'image-opacity':!policyreport}" width="100%" src="../../assets/crop.png">
                </div>
              </div>
    
            </div>
          </div>
        </div>
        <br>
        <p class="note" *ngIf="!policyreport">
          Note:Sharing of images of your car will help in reducing the claim settlement time
        </p>
    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>   <br>
        <br>
        <br>
       
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-10  text-center">
            <button type="button"   (click)="next()" class="btn btn-block btn-primary btn-custom">Next</button>
          </div>
          <div class="col-1">
              
                
          </div>
        </div>
    
      </ng-container>
  
      <ng-container *ngIf="step===8">
        <br>
        <br>
        <br>
          <div class="row">
            <div class="col-md-12 text-center">
                <img class="complete-checkbox"  src="../../assets/registration_success.png">
              
                <p style="margin-top: 50px;">
                  Registration No. for collision claim is 
                </p>
                <p>
                    <b>123 456 789</b>
                </p>
                <a class="claim-link" href="#"> Click here to track your clamin</a>

                <br>
                <br>
                <button type="button"   class="btn btn-block btn-primary btn-custom home-btn">Home</button>
       
            </div>
          </div>
      
        </ng-container>
  <ng-template #content let-modal>
    <div class="modal-body">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <br>

      <div class="text-center">
        <p class="p-no-maring-bottom">Please click on location icon to select the icon from the map where incident happended
        </p>
        <span class="text-center">
          Or
        </span>
        <p class="p-no-maring-bottom">
          Type the location in the input box.
        </p>
        <button type="button" class="btn save-btn" (click)="modal.close('Save click')">Ok</button>
      </div>
    </div>
  </ng-template>

  <ng-template #contentupload let-modal>
    <div class="modal-header">
        <i class='fas fa-camera' style='font-size:24px'></i>    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
  
      <img class="main-image" style="width: 300px;height: 200px;" src="../../assets/ins.png">
      <br>
      <div class="row">
          <div class="col-6 text-left">
              <i class="material-icons" style="font-size:36px">attachment</i>
          </div>
          <div class="col-6 text-right">
              <i class="fa fa-upload" style="font-size:24px"></i>
          </div>
      </div>
     
      <div class="text-center">
        
        <button type="button" class="btn save-btn" (click)="modal.close('Save click')">Submit</button>
      </div>
    </div>
    
  </ng-template>

  <ng-template #contentpolice let-modal>
      <div class="modal-header">
          <i class='fas fa-camera' style='font-size:24px'></i>    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
  
      <div class="modal-body">
    
        <img class="main-image" style="width: 300px;height: 200px;" src="../../assets/pdf-image.jpg">
        <br>
        <div class="row">
            <div class="col-6 text-left">
                <i class="material-icons" style="font-size:36px">attachment</i>
            </div>
            <div class="col-6 text-right">
                <i class="fa fa-upload" style="font-size:24px"></i>
            </div>
        </div>
       
        <div class="text-center">
          
          <button type="button" class="btn save-btn" (click)="modal.close('Save click')">Submit</button>
        </div>
      </div>
      
    </ng-template>
